<div class="app-margin">
  <h1 class="mat-h1">Report Some Bugs</h1>
  <p>
    If you see anything wrong with this site, you can send an email to the
    <a
      href="mailto:incoming+brandonp2412-about-me-13088309-issue-@incoming.gitlab.com"
    >
      GitLab Service Account </a
    >, or you could
    <a href="https://gitlab.com/brandonp2412/about-me/issues"
      >create an issue directly</a
    >.
  </p>
</div>
