<div class="app-margin">
  <h1 class="mat-h1">My Journey of Creating this Website</h1>
  <mat-card>
    <mat-tab-group>
      <mat-tab label="Getting Started">
        <app-getting-started></app-getting-started>
      </mat-tab>
      <mat-tab label="Docker">
        <app-docker></app-docker>
      </mat-tab>
      <mat-tab label="CI/CD">
        <app-cicd></app-cicd>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
