.dashboard-card {
  max-width: 500px;
  margin-bottom: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

img {
  height: 100px;
}

mat-card-content {
  padding-top: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}