<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        Home</a
      >
      <a mat-list-item routerLink="/projects">
        <mat-icon>assignment</mat-icon>
        Projects</a
      >
      <a mat-list-item routerLink="/technologies">
        <mat-icon>table_chart</mat-icon>
        Technologies</a
      >
      <a mat-list-item routerLink="/creation-blog">
        <i class="fas fa-grin-squint-tears"></i>
        Creation Blog</a
      >
      <a mat-list-item routerLink="/report-bugs">
        <mat-icon>bug_report</mat-icon>
        Report Bugs</a
      >

      <a mat-list-item class="footer" href="https://gitlab.com/brandonp2412/about-me">
        <i class="fab fa-gitlab"></i>
        Source Code
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>About Me</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
