<div class="app-margin">
  <h1 class="mat-h1">Following a Tutorial</h1>
  <p>
    The first thing I did was follow
    <a
      href="https://medium.com/@atiaxi/publishing-a-standalone-angular-app-on-gitlab-pages-b58458d2c94"
      >this</a
    >
    tutorial for setting up Angular with GitLab Pages.
  </p>

  <h1 class="mat-h1">Mistakes were Made</h1>
  <p>
    As is tradition, I failed to correctly follow this tutorial by changing or
    removing steps which were required for this to work.
  </p>

  <h1 class="mat-h1">
    First Draft

    <button
      mat-icon-button
      ngxClipboard
      [cbContent]="draft1"
      matTooltip="Copy to Clipboard"
      class="copy"
      (click)="snackbarService.notifyCopied()"
    >
      <mat-icon>file_copy</mat-icon>
    </button>
  </h1>
  <pre><code [highlight]="draft1"></code></pre>

  <h1 class="mat-h1">Renamed the Stage</h1>
  <p>
    Copying and pasting directly from the tutorial was too shameful, so instead
    I thought of a better name for my stage: build. Unfortunately, GitLab is
    expecting the stage to be named pages, so my deployment failed.
  </p>

  <h1 class="mat-h1">Not Specifying the Docker Executor</h1>
  <p>
    In my infinite wisdom, I forgot to specify the
    <a href="https://docs.gitlab.com/ee/ci/yaml/README.html#image">image</a> my
    CI-CD file should use. this
    <a href="https://gitlab.com/brandonp2412/about-me/-/jobs/242397676"
      >resulted</a
    >
    in a failed pipeline, and me reconsidering just copying and pasting from the
    tutorial...
  </p>

  <h1 class="mat-h1">
    Forgetting How Unix Works

    <button
      mat-icon-button
      ngxClipboard
      [cbContent]="draft2"
      matTooltip="Copy to Clipboard"
      class="copy"
      (click)="snackbarService.notifyCopied()"
    >
      <mat-icon>file_copy</mat-icon>
    </button>
  </h1>
  <pre><code [highlight]="draft2"></code></pre>
  <p>
    I tried moving items to a directory which didn't exist, resulting in a
    <a href="https://gitlab.com/brandonp2412/about-me/-/jobs/242398120"
      >failed pipeline</a
    >. The best part about Git and GitLab is all your stupid mistakes are
    recorded forever <i class="fas fa-grin-squint-tears"></i>.
  </p>

  <h1 class="mat-h1">
    Successful Pipeline

    <button
      mat-icon-button
      ngxClipboard
      [cbContent]="success"
      matTooltip="Copy to Clipboard"
      class="copy"
      (click)="snackbarService.notifyCopied()"
    >
      <mat-icon>file_copy</mat-icon>
    </button>
  </h1>
  <pre><code [highlight]="success"></code></pre>
  <p>
    Finally, my pipeline
    <a href="https://gitlab.com/brandonp2412/about-me/-/jobs/242398276">works</a
    >! But it's not showing up in the browser? This frustrated me at first, but
    then I
    <a
      href="https://www.getfilecloud.com/blog/2015/03/tech-tip-how-to-do-hard-refresh-in-browsers/#.XRhHt99fhhE"
      >refreshed</a
    >
    my browsers cache, and all was good in the world.
  </p>
</div>
