<div class="app-margin">
  <h1 class="mat-h1">A Gift to my Future Self</h1>
  <p>
    I love <a href="https://www.docker.com/">Docker</a>. So the next thing for
    me to do is set up a Docker image for this application.
  </p>

  <h1 class="mat-h1">
    Miracles Do Happen

    <button
      mat-icon-button
      ngxClipboard
      [cbContent]="docker"
      matTooltip="Copy to Clipboard"
      class="copy"
      (click)="snackbarService.notifyCopied()"
    >
      <mat-icon>file_copy</mat-icon>
    </button>
  </h1>
  <pre><code [highlight]="docker"></code></pre>
  <p>
    Amazingly I created a useful Docker image without any problems or errors!
  </p>

  <h1 class="mat-h1">A Quick Rundown</h1>
  <p>
    This Dockerfile utilizes not only the magic of Docker, but also
    <a href="https://docs.docker.com/develop/develop-images/multistage-build/"
      >multi-stage builds</a
    >. What this means is I can have multiple FROM statements, without having to
    re-invent docker images which already exist.
  </p>

  <h1 class="mat-h1">Learning From Past Mistakes</h1>
  <p>
    This worked without a hitch because it's not my first rodeo. The last time I
    tried creating such a Dockerfile, I ran into some
    <a
      href="https://stackoverflow.com/questions/45858957/404-not-found-nginx-angular-routing"
    >
      404 errors </a
    >.
  </p>

  <h1 class="mat-h1">
    NGINX Configuration

    <button
      mat-icon-button
      ngxClipboard
      [cbContent]="nginx"
      matTooltip="Copy to Clipboard"
      class="copy"
      (click)="snackbarService.notifyCopied()"
    >
      <mat-icon>file_copy</mat-icon>
    </button>
  </h1>
  <pre><code [highlight]="nginx"></code></pre>

  <h1 class="mat-h1">Why?</h1>
  <p>
    My CI-CD is going to be running using the
    <a href="https://docs.gitlab.com/runner/install/docker.html"
      >GitLab Docker Runner</a
    >, so to reproduce errors locally, i'm going to need the ability to
    reproduce the environment.
  </p>
</div>
