/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
@import '~highlight.js/styles/darkula.css';

html,
body {
  height: 100%;
}

pre {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: left;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
  text-align: left;
}

th,
td {
  min-width: 90px;
}

a {
  color: lightblue;
}

p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  margin-left: auto;
  margin-right: auto;
}

button.copy {
  background-color: transparent;
  border: 0;
}

.mat-toolbar {
  z-index: 4000 !important;
}

.scroll-box {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.app-margin {
  margin: 20px;
  text-align: center;
}

.mat-h1 {
  font-weight: bold;
}
